// VARIABLES Y FUENTES
$primary: #9c5ce1;
$secondary: #c77e01;
$dark: #222222;
$light: #777777;
$input-bg: #f4f4f4;   

body {
  margin: 0;
  padding: 0;
}

//ESTRUCTURA

.register-container {
  display: flex;
  height: 100vh;
}

.register-image {
  width: 50%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  
  img {
    transform: scale(1.55) scaleX(-1);
    transform-origin: center;
  }
}

.register-form-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.register-form {
  width: 70%;
  max-width: 420px;
}

//TIPOGRAFÍA Y COMPONENTES

.title {
  font-family: var(--font-title);
  font-size: 2rem;
  color: $secondary;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--font-text);
  font-size: 0.95rem;
  color: $dark;
  margin-bottom: 2rem;
  max-width: 380px;
}

.input-label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-family: var(--font-text);
  font-size: 0.9rem;
  color: $primary;
}

//CAMPOS INPUT
.input,
.select {
  width: 100%;
  padding: 0.9rem 1rem;
  border: none;
  border-radius: 10px;
  background: $input-bg; 
  font-size: 0.95rem;
  font-family: var(--font-text);
}

.select {
  appearance: none; 
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="%239c5ce1"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  padding-right: 2.5rem;
}


// BOTÓN DE REGISTRO
.register-button {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.9rem;
  background-color: $primary;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  font-family: var(--font-title);
  text-transform: uppercase;
  box-shadow: 0 4px 10px rgba(156, 92, 225, 0.4);
  transition: background-color 0.2s ease;
  
  &:hover {
    background-color: #8c4ccf;
  }
}

//TEXTO DE LOGIN
.login-text {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: $light;
  font-family: var(--font-text);
  
  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
  }
}