@use "sass:color";

// VARIABLES Y FUENTES
$primary: #9c5ce1;
$secondary: #c77e01;
$dark: #222222;
$light: #777777;
$input-bg: #f4f4f4;

// RESETEO
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; // sin scroll
}

// CONTENEDOR GENERAL
.creatures-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

// IMAGEN LADO IZQUIERDO
.creatures-image {
  width: 32%;
  height: 100vh;
  position: relative;

  img {
    object-fit: cover;
    object-position: center;
  }
}

// COLUMNA DERECHA
.creatures-content {
  width: 68%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow: hidden;
}

// HEADER / NAVBAR
.creatures-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}

.creatures-logo {
  font-family: var(--font-title);
  font-size: 1.8rem;
  color: $secondary;
  text-transform: uppercase;
}

.creatures-nav {
  display: flex;
  gap: 1.6rem;
  font-family: var(--font-text);
  font-size: 0.95rem;
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
  color: $dark;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  &--active {
    padding: 0.4rem 1.1rem;
    border-radius: 999px;
    background-color: rgba(156, 92, 225, 0.12);
    color: $primary;
  }
}

// CONTENIDO PRINCIPAL
.creatures-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.creatures-title {
  font-family: var(--font-title);
  font-size: 1.7rem;
  color: $secondary;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.creatures-subtitle {
  font-family: var(--font-text);
  font-size: 0.95rem;
  color: $dark;
  max-width: 620px;
  margin-bottom: 3rem;
}

// ESTADO VACÍO
.creatures-empty {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
}

.empty-text {
  font-family: var(--font-text);
  font-size: 0.95rem;
  color: $dark;
  text-align: center;
  margin-bottom: 2.2rem;
}

// BOTÓN PRINCIPAL
.add-creature-button {

  padding: 0.95rem 4rem;
  border: none;
  border-radius: 999px;
  background-color: $primary;
  color: #ffffff;
  font-family: var(--font-title);
  font-size: 0.9rem;
  text-transform: uppercase;
  
  box-shadow: 0 4px 12px rgba(156, 92, 225, 0.45);
  letter-spacing: 0.04em;

  &:hover {
    background-color: color.adjust($primary, $lightness: -6%);
  }
}
